{% extends 'blog/blog_base.html'%}

{% block content %}
    <h1>Articles</h1>
    <div class='d-grid'>
        <hr class="border border-primary">
        <a class="btn btn-outline-info" href="{% url 'create' %}">Create</a>
        <hr class="border border-primary">
    </div>
    <div class="row">
        <div class="col">
            <div class="row row-cols-2 g-4">
                {% for article in articles %}
                    <div class="col">
                        <div class="card border border-info">
                            {% if article.image %}
                                <img src="{{article.image.url}}" class="card-img-top" alt="...">
                            {% else %}
                                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{article.title}}</h5>
                                <p class="card-subtitle mb-2 text-muted">Published {{article.created_at | timesince}} ago</p>
                                <p class="card-text">{{article.description}}</p>
                                <div class="row">
                                    <a href="{% url 'details' article.slug %}" class="btn btn-outline-info col mx-1">See more</a>
                                    {% if user.is_authenticated and user == article.author %}
                                        <a href="{% url 'articles_update' article.slug %}" class="btn btn-outline-primary col mx-1">Update</a>
                                        <a href="{% url 'articles_delete' article.slug %}" class="btn btn-outline-danger col mx-1">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No articles yet.</p>
                {% endfor %}          
            </div>
        </div>
        <div class="col-3">
            <div class="row align-items-md-stretch bg-body-tertiary rounded-3 p-4 mx-auto border border-info" style="position:sticky; top:30px;">
                <h1>Tags</h1>
                <hr class="border border-info">
                {% for tag in tags %}
                    <a href="{% url 'articles_tag' tag=tag.slug %}" class="btn btn-outline-primary my-2">{{tag.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}