{% extends 'core/base.html'%}

{% block title %} Blog {% endblock %}

{% block category %}
<div class="row align-items-md-stretch mb-5 bg-body-tertiary rounded-3 p-4 mx-auto border border-primary" style="width:90%; display:flex; flex-wrap:wrap; align-items:center; justify-content:center;">
    <h1>Categories</h1>
    <hr class="border border-primary">
    {% for category in categories %}
      <a href="{% url 'articles_category' category=category.slug %}" class="btn btn-outline-info m-2" style="width:15rem; display:flex; align-items:center; justify-content:center;">{{category.name}}</a>
    {% endfor %}
  </div>
{% endblock %}

{% block content %}{% endblock %}