{% extends 'blog/blog_base.html'%}

{% block title %} {{article.title}} {% endblock %}

{% block content %}
    {% if article.image%}
    <div style="display:flex; align-items:center; justify-content:center;">
        <img src="{{article.image.url}}" alt="{{article.title}}" style="height:500px;" class="rounded-3">
    </div>
    {% endif %}
    {%if user.is_authenticated and user == article.author %}
        <hr class="my-3 border border-info">
        <div class="row">
            <div class="col d-grid">
                <a class="btn btn-outline-info" href="{% url 'articles_update' article.slug %}">Edit</a>
            </div>
            <div class="col d-grid">
                <a class="btn btn-outline-info" href="{% url 'articles_delete' article.slug %}">Delete</a>
            </div>
        </div>
    {% endif %}
    <hr class="my-3 border border-info">
    <h1>{{article.title}}</h1>
    <p>Автор: {{article.author.username}}</p>
    <p>Published on: {{article.created_at}}</p>
    <p>Updated on: {{article.updated_at}}</p>
    <p>Теги: {% for tag in article.tags.all %}
        <a href="{% url 'articles_tag' tag=tag.slug %}">#{{tag.name}}</a> 
        {% endfor %}
    </p>
    <p>Категорія: <a href="{% url 'articles_category' category=article.category.slug %}">{{article.category.name}}</a></p>
    <p>{{article.text|safe}}</p>

    <h3>Add comment</h3>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-outline-primary" type="submit" value="Add comment">
    </form>

    <h3>Comments</h3>
    <hr>
    {% for comment in article.comments.all %}
        <div class="container-md rounded border border-info p-2 mb-2">
            <p><strong>User name:</strong> {{comment.name}}</p>
            <p><strong>Created on:</strong> {{comment.created_at}}</p>
            <hr class="border border-info">
            <p>{{comment.content}}</p>
        </div>
        
        
    {% empty %}
        <p>There no comments here yet</p>
    {% endfor %}
{% endblock %}