{% extends 'core/base.html'%}

{% block title %} About us {% endblock %}

{% block content %}
<div class="card mb-3 border border-info">
    <div class="card-body">
        <h3 class="card-title">About us</h3>
        <div class="text-center mb-2">
            <p class="card-text lead">At DigitalDynamics Technologies, we have assembled a team of highly skilled and experienced professionals who are passionate about technology. Our team consists of software engineers, data scientists, cybersecurity experts, and IT consultants who work collaboratively to deliver exceptional results. We take pride in our ability to understand our clients' unique requirements and tailor our solutions to suit their specific needs.</p>
            <p class="card-text lead">Our range of services encompasses a wide spectrum of IT solutions. From software development and application design to cloud computing, artificial intelligence, and cybersecurity, we offer comprehensive services that help businesses stay ahead in today's fast-paced digital world. Whether our clients need custom software solutions, data analytics, network infrastructure setup, or IT consulting, our team has the expertise and knowledge to deliver high-quality results.</p>
            <p class="card-text lead mb-3">Whether you are a small startup or a large enterprise, [Company Name] is your trusted partner for all your IT needs. We are driven by a passion for excellence, a commitment to innovation, and a desire to help our clients achieve their business objectives through the power of technology. Contact us today to discover how we can transform your business and propel you towards success in the digital era.</p>
        </div>
        <div class="border-top border-light">
            <div class="text-center mb-2 p-3">
                <p class="card-text lead">You can contact us or get answers to the most common question following these links</p>
            </div>
            <div class="d-grid gap-2">
                <a href="/contacts/" target="_blank" rel="noopener noreferrer" class="btn btn-outline-info btn-lg">Contacts</a>
                <a href="/questions/" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary btn-lg">Common questions</a>
            </div>
        </div>
    </div>
</div>
<div class="card  border border-info">
    <div class="card-body">
        <h3 class="card-title">Our office</h3>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{active_image.link}}" class="d-block w-100" alt="...">
              </div>
              {% for image in images %}
                <div class="carousel-item">
                  <img src="{{image.link}}" class="d-block w-100" alt="...">
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>
{% endblock %}